* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%
}

body {
    background: #fbf2e9;
    min-height: 100%
}
main {
    flex: 1;
    position: relative;
}

footer {
    background: green;
}
img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
}

a:focus-visible {
    outline: 3px solid #1b00e9;
}

.main-content-bttn {
    margin-top: 2px;
    display: inline-block;
    padding: 1rem;
    width: max(5%, 8rem);
    border-bottom-right-radius: 7.5px;
    border-top-right-radius: 7.5px;
    position: sticky;
    text-decoration: none;
    top: 0;
    background: #a0856f5f;
    color:#fbf2e9ca;
    font-family: Quicksilver;
    font-size: 1rem;
    z-index: 1000;
}
 
.main-content-bttn:hover {
    background: #a58974;
    color:#fbf2e9;
}

.main-content-bttn:active {
    background: #a58974;
    color:#fbf2e9;
}

header {
    z-index: 1;
}


main img {
    border-radius: 5.5%;
    max-width: 100%;
}

.nav-bar {
    background:#5f7b46;
    text-align: center;
    max-width: 92.5%;
    height: 50px;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 10px;
    right: 10px;
    z-index: 1000;
}

.nav-bar ul{
    display: flex;
    margin: 0 10rem;
    flex-direction: row;
    list-style: none;
}

.nav-bar li{
    margin: .25vw clamp(.45rem, 4vw, 8rem);
}

.nav-bar a {
    font-family: Quicksilver, sans-serif;
    color: #fbf2e9;
    text-decoration: none;
    font-size: clamp(1rem, 1.2vw, 4rem);
}

.nav-bar a:link {
    color: #fbf2e9;
}

.nav-bar a:hover {
    color: #f8c899;
}

.nav-bar a:active {
    color: #a8825b;
    text-decoration: underline;
}

h1{
    color: #fbf2e9;
    text-align: center;
    font-family: Libre Bodoni, Serif;
    font-size: clamp(4rem, 10.5vw, 15.5rem);
}  


.header-img {
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.header2-img {
    background-image: url("images/header_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 16 / 9;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-items {
    margin: auto;
    max-width: 70%;
    min-height: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-icon {
    max-width: 25%;
    margin: auto;
    height: auto;
    object-fit: contain;
}

#our-story-link {
    color:#4F7942;   
}

#our-story-link:hover {
    text-decoration: underline;
    color:#72ae5f;
}

#our-story-link:active {
    text-decoration: underline;
    color:#34502c;
}

p {
    font-size: 1.25em;
    line-height: 1.75em;
    color: #3a3531;
}

.container {
    max-width: 85%;
    width: 100%;
    margin: 6rem auto 0;
    padding-bottom: 6rem;
    position: relative;
}

blockquote {
    display: inline-block;
    padding: 2.5% 3.5%;
}

q {
    font-family: Quicksilver, sans-serif;
    text-align: left;
    line-height: 1.5em;
    font-size: clamp(1.5rem, 3vw, 8rem);
    overflow-wrap: break-word;
    font-style: italic;
    color: #A0785A;
}

#quote-source {
    font-family: Libre Bodoni, serif;
    font-size: 1.5em;
    font-style: italic;
    color: #8f8867;
}

.osl-bg {
    background: #fefcf5;
    padding: 2rem;
    width: min(70%, 35rem);
    border-radius: 45px;
    border-bottom-left-radius: 5px;
    margin: 1rem 0 5.5rem 5.5rem;
}

#our-story-link {
    font-style: italic;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    font-family: Quicksilver, sans-serif;
    line-height: 100%;
    display: inline-block;
    text-decoration: none;
}

.quote-decor {
    background: #fefcf5;
    padding: 2.5rem;
    margin: auto;
    border-radius: 100px;
    border-bottom-right-radius: 2.5px;
    min-width: 75%;
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #4F7942;
    font-family: Libre Bodoni, Serif;
    margin-bottom: 0.25em;
    word-spacing: 0.15em;
}

#food-display {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
    margin: .5rem auto;
    flex-wrap: wrap;
}

#food-display img {
    max-width: 45%;
    height: auto;
}

.fd-hr {
    width: 45%;
    border: 1px solid #a58974;
    margin: 4rem auto;
}

#menu-intro {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}

#menu-intro-text {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #5f7b46;
    padding: clamp(1.5rem, 4vw, 3.5rem);
    border-radius: 25.5px;
}

#menu-intro img {
    flex: 1 1 400px;
}

#menu-intro-text p{
    color: #fbf2e9;
}

#menu-intro-text h2 {
    color: #fbf2e9;
}

#menu-intro button {
    display: block;
    margin-top: .5rem;
    padding: 1rem;
    font-size: clamp(.96rem, 1.5vw, 1.5rem);
    font-family: Quicksilver, sans-serif;
    color: #fbf2e9;
    max-width: 45%;
    border: 0px;
    background: #a58974;
    border-radius: 25px;
}

#menu-intro a {
    text-decoration: none;
    color: #fbf2e9;
}

#menu-intro button:hover {
    background: #c5ae8b;
}

#menu-intro button:active {
    background: #856f5d;
}

.location-img {
    max-width: 100%;
    width: clamp(40rem, 75%, 100rem);
    object-fit: cover;
    margin: 1.5rem auto;
    border-radius: 15px;
}

.location-text {
    min-width: 75%;
    margin: auto;
    font-size: clamp(1.13rem, 1.5vw, 2rem);
    overflow-wrap: break-word;
    font-style: italic;
    font-family: Quicksilver, sans-serif;
    text-align: center;
    color:#4F7942;
    font-weight: bold;
}

.location-address {
    margin: .5rem auto;
    text-align: center;
    font-style: italic;
    font-family: Quicksilver, sans-serif;
    color:#4F7942;
}

.bold-address {
    font-weight: bold;
}

.text-address {
    border: 1px solid #A58974;
}

.t-a2 {
    width: 25%;
    margin: .5rem auto;
    border: .5px solid #a58974;
}

.hoo {
    margin-top: 5.5rem;
    background: #5f7b46;
    padding: 2rem;
    border-radius: 25px;
}

.hoo h2 {
    font-size: clamp(2.5rem, 4vw, 6rem);
    color: #fbf2e9;
    text-align: center;
}

.hoo-hr {
    border: 2px solid #fbf2e9;
    width: 50%;
    margin: auto;
}

.hoo p {
    text-align: center;
    color: #fbf2e9;
}

.h-bold {
    font-weight: bold;
}

.h-italic {
    font-style: italic;
}

.footer-bar {
    background-color: #5f7b46;
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    padding-bottom: calc(2rem + env(safe-area-inset-bottom));
}

.footer-bar ul {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
    list-style: none;
}

.footer-bar a {
    color: #fbf2e9;
    text-decoration: none;
    list-style: none;
    font-family: Quicksilver, sans-serif;
    white-space: nowrap;
    font-size: clamp(1rem, 1.2vw, 4rem);
}

.footer-bar a:link {
    color: #fbf2e9;
}

.footer-bar a:hover {
    color: #f8c899;
}

.footer-bar a:active {
    color: #a8825b;
    text-decoration: underline;
}

.footer-bar li{
    margin: .25vw clamp(.75rem, 4vw, 8rem);
}

.footer-bar p {
    text-align: center;
    font-size: clamp(1rem, 1.2vw, 4rem);
    padding-top: .5em;
    color: #fbf2e9;
}
 
p {
    font-family: Quicksilver, sans-serif;
}

#our-story-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5em;
    margin-bottom: 10.5em;
}

#our-story-passage {
    flex: 1 0 350px;
    min-width: 35%;
    display: flex;
    flex-direction: column;
}

#our-story-passage h2{
    font-size: clamp(2.5rem, 3.5vw, 4rem);
}

#our-story-intro img {
    flex: 1 1 150px;
    min-width: 20rem;
    max-height: 40rem;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-underline-offset: 4px;
}

#founder-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
}

#founder-text {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#founder-picture {
    flex: 1 1 250px;
}

#founder-section img {
    max-width: 400px;
    height: auto;
}

.f-bg {
    background: #fefcf5;
    padding: 2rem;
    border-radius: 5px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    margin-bottom: 8.5rem;
}

#our-mission {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #5F7B46;
    border-radius: 45px;
    border-radius: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    padding: 4rem 4rem 8rem;
}

#our-mission img {
    min-width: 30%;
    margin: 2rem auto;
}

.omt-bold {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    font-style: italic;
    letter-spacing: 0.125rem;
    margin-bottom: 1rem;
    color: #fefcf5
}

#our-mission h2 {
    color: #fbf2e9;
}

#our-mission p {
    color: #fbf2e9;
}

#our-mission-grp {
    display: flex;
    gap: 2rem;
    margin: auto;
}

input {
    display: block;
    min-width: 70%;
    margin-bottom: .50em;
    padding: 2.15%;
    border: 0px;
    border-radius: 25px;
    background: #fbf2e9;
    font-family: Quicksilver, sans-serif;
    font-size: clamp(.9rem, 1.25vw, 1.5rem);
    margin-bottom: 1rem;
    color: #3a3531;
}

label {
    display: block;
    color: #3a3531;
    font-size: 1.45rem;
    font-family: Quicksilver, sans-serif;
}

.form-container {
    display: flex; 
    margin-bottom: 8.5em;
}

.form-img {
    border-radius: 0 0 25px 0;
    min-height: 100%;
}

.cu {
    min-width: 40vw;
}

.form-italic {
    color:#3d5d34;
    font-size: 1.15rem;
    font-style: italic;
    font-family: Quicksilver, sans-serif;
}

input:focus-visible {
    outline: 3px solid #1b00e9;
}

.cafe-form {
    max-width: 100%;
    padding: min(8%, 4rem);
}

form {
    margin-top: 1.5em;
}

.name-fields {
    display: flex;
    gap: 1;
}

.field input{
    width: 90%;
    padding: 4%;
}

fieldset {
    border: 0; 
    color: #3a3531;
    font-size: 1.15rem;
    font-family: Quicksilver, sans-serif;
}

fieldset label {
    font-style: italic;
    font-size: 1.25rem;
}

legend {
    font-size: 1.45rem;
    margin-bottom: .5rem;
    color: #3a3531;
    font-family: Quicksilver, sans-serif;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dt-field-item input {
    min-width: 5%;
}

.form-button {
    display: block;
    padding: 1rem;
    font-size: clamp(.96rem, 1.5vw, 1.5rem);
    font-family: Quicksilver, sans-serif;
    color: #fbf2e9;
    min-width: 30%;
    border: 0px;
    background: #a58974;
    border-radius: 25px;
}

.form-button:hover {
    background: #c5ae8b;
}

.form-button:active {
    background: #856f5d;
}

.form-bg {
    background: #EACCB7;
    min-width: 50%;
    border-radius:35px 5px 5px 35px;
    margin-left: 2.5rem;
    margin-top: 4.5rem;
    margin-right: 4rem;
    padding-bottom: 4rem;
}

.form-required {
    font-size: 1rem;
    font-style: italic;
    font-family: Quicksilver, sans-serif;
    color: #5f7b46;
    border-radius: 6px;
}

.ps-itlaic{
    font-style: italic;
}

.required {
    font-family: Quicksilver, sans-serif;
    color: #5f7b46;
}

#inqury {
    padding: 2.15%;
    border: 0px;
    background-color: #fbf2e9;
    margin-bottom: 1.15rem;
    border-radius: 25px;
    font-family: Quicksilver, sans-serif;
    font-size: 1.12rem;
}

#inqury:focus-visible {
    outline: 3px solid #1b00e9;
}

textarea:focus-visible{
    outline: 3px solid #1b00e9;
}

button:focus-visible {
    outline: 3px solid #1b00e9;
}

#party-size {
    min-width: 25%;
}

.phone {
    min-width: 35%;  
}

textarea {
    border: 0px;
    width: max(70%, 35vw);
    background-color: #fbf2e9;
    margin-bottom: .25rem;
    border-radius: 25px;
    padding: 1.25em;
    font-size: clamp(.9rem, 1vw, 1.5rem);
    font-family: Quicksilver, sans-serif;
    color: #3a3531;
}

@media (max-width: 640px) {
    .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;        
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        z-index: 1000;
        border-radius: 0 0 25px 25px;
    }
    .header-img {
        aspect-ratio: 16 / 12;
    }
    .nav-bar li {
        margin: auto;
        padding: .5rem;
    }
    #food-display {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    #food-display img {
        min-width: 100%;
    }
    .footer-bar {
        padding-top: 2rem;
        padding-bottom: calc(2rem + env(safe-area-inset-bottom));
        height: auto;
    }
    .footer-bar ul {
        display: none;
    }
    .main-content-bttn {
        display: none;
    }
    .r-img {
        height: 50vh;
    }
    .form-container {
        flex-direction: column;
        align-items: center;
    }
    .form-img {
        border-radius: 0 0 25px 25px;
    }
    figure {
        width: 95%;
    }
    #our-mission-grp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    #our-mission img {
        height: 25rem;
        width: 30rem;
        margin: .5rem auto;
    }
    #our-mission {
        padding: 2rem;
    }
    #our-mission-text {
        margin-top: 2.5rem;
    }
    .cu {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
    .form-bg {
        width: 85%;
        margin: 2rem auto;
    }
}

@media (max-width: 768px) { 
    .header-img {
        aspect-ratio: 16 / 12;
    }
    .footer-bar {
        padding-bottom: 2rem;
    }
    .main-content-bttn {
        display: none;
    }
    #founder-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #our-mission {
        padding: 2rem;
    }
    #our-mission-grp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin: auto;
    }
    input {
        padding: .8rem;  
    }
    #inqury{
        padding: .8rem;
    }
    .cafe-form {
        padding: 1.5rem;
    } 
    .form-bg {
        margin-left: 1rem;
        margin-right: 2rem;
    }
    textarea {
        width: 100%;
        padding: .8rem;
    }

    .name-fields {
        display: block;
    }
    .field input{
        padding: 3%;
        width: 70%;
    }
}
